@import 'tailwindcss';

@theme {
  --color-customBlueDark: #004a76;
  --color-customBlueLight: #008adc;
  --color-borderblue: #007bff;
  --color-borderfillblue: #80ccff;
  --color-textblue: #0e1556;
  --color-pressure: #001d33;
  --color-visibility: #25b04e;
  --color-winddir: #a0e9fd;
  --color-windgust: #007bff;
}
@font-face {
  font-family: 'Consolas';
  src: url(./assets/fonts/Consolas.ttf) format('truetype');
}
html,
body {
  height: 100%;
}

body {
  font-family: 'Consolas', monospace;
  @apply bg-gradient-to-b from-customBlueDark to-customBlueLight bg-no-repeat;
  background-size: 100% 100%;
}
